body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #34495e;
    border-radius: 5px;
    color: #ecf0f1; /* Lighter color on hover */
}
.slideshow-container {
    position: relative;
    max-width: 1000px; /* Adjust as needed */
    margin: center;
}

.mySlides {
    display: none; /* Hide all slides by default */
}

img {
    border-radius: 20px; /* Optional: to match your site’s style */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    
}

h2 {
    color: #2c3e50;
}

h3 {
    margin: 10px 0 5px;
    color: #2980b9; /* Slightly different color for project titles */
}

ul {
    list-style-type: none; /* Remove bullets from project list */
    padding: 0;
}

ul li {
    margin-bottom: 15px; /* Space between projects */
}

ul li a {
    color: #2980b9; /* Link color for project view */
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #3498db; /* Change link color on hover */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #2c3e50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    #about img {
        display: block;
        margin: 0 auto 20px; /* Center the image and add space below */
        border-radius: 50%; /* Makes the image round */
        width: 150px; /* You can adjust the size */
    }

    main {
        padding: 10px;
    }
}
